<h3>Вычислительные кластеры</h3>

<input type="checkbox" @bind="DisplayButtons" />

<GenericList List=Clusters >
    <ElementTemplate Context="cluster">
        <ClusterIndividual Cluster="cluster"
            DisplayButtons="DisplayButtons"
            DeleteCluster="DeleteCluster"
        />
    </ElementTemplate>
</GenericList>

@code {
    [Parameter] public List<Cluster> Clusters { get; set; }
    [Parameter] public bool DisplayButtons { get; set; } = false;
      

    private void DeleteCluster(Cluster cluster)
    {
        Clusters.Remove(cluster);
    }
}
