
<div class="cluster-individual-container">
    <p>
        @Cluster.Name (@Cluster.Guid: @Cluster.Caption)
    </p>

    @if(DisplayButtons)
    {
        <div>
            <a class="btn btn-info">Редактировать</a>
            <button @onclick="@(() => DeleteCluster.InvokeAsync(Cluster))" class="btn btn-danger">Удалить</button>
        </div>
        
    }
</div>



@code {
    [Parameter] public Cluster Cluster { get; set; }
    [Parameter] public bool DisplayButtons { get; set; } = false;
    [Parameter] public EventCallback<Cluster> DeleteCluster{ get; set; }
}
