@inject IJSRuntime js

<h3>Вычислительные кластеры</h3>

<input type="checkbox" @bind="DisplayButtons" />

<div class="cluster-list-container">
    <GenericList List=Clusters >
        <ElementTemplate Context="cluster">
            <ClusterIndividual Cluster="cluster"
                DisplayButtons="DisplayButtons"
                DeleteCluster="DeleteCluster"
                @key="cluster.ClusterId"
            />
        </ElementTemplate>
    </GenericList>
</div>



<Confirmation @ref="confirmation" onCancel="onCancel" onConfirm="onConfirm">
    <div>Вы действительно хотите удалить кластер @clusterToBeDeleted.Name?</div>
</Confirmation>

@code {
    Confirmation confirmation;

    [Parameter] public List<Cluster> Clusters { get; set; }
    [Parameter] public bool DisplayButtons { get; set; } = false;

    Cluster clusterToBeDeleted;

    private async Task DeleteCluster(Cluster cluster)
    {
        clusterToBeDeleted = cluster;
        confirmation.Show();
        //await js.MyFunction("DeleteCluster");
        //var confirmed = await js.Confirm($"Вы действительно хотите удалить {cluster.Name}?");

        //if(confirmed)
        //    Clusters.Remove(cluster);
    }

    void onConfirm()
    {
        Clusters.Remove(clusterToBeDeleted);
        confirmation.Hide();
        clusterToBeDeleted = null;
    }

    void onCancel()
    {
        confirmation.Hide();
        clusterToBeDeleted = null;
    }
}
