@inherits LayoutComponentBase
@inject ModelingSystem.Client.Auth.TokenRenewer tokenRenewer
@inject NavigationManager navigationManager
@inject IJSRuntime js

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginLinks />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">О приложении</a>
        </div>

        <article class="content px-4">
            <CascadingValue Value=@appState>
                @Body
            </CascadingValue>
            
        </article>
    </main>
</div>

@code{
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }

    AppState appState = new AppState { Color = "green", Size = "26px" };

    public class AppState
    {
        public string Color { get; set; } = "blue";
        public string Size { get; set; } = "12px";
    }

    protected override async Task OnInitializedAsync()
    {
        //await js.InitializeInactivityTimer(DotNetObjectReference.Create(this));
        tokenRenewer.Initiate();
    }

    [JSInvokable]
    public async Task Logout()
    {
        var authState = await AuthenticationState;
        if (authState.User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("logout");
        }
    }
}