@page "/clusters/edit/{ClusterId:int}"
@inject IClusterRepository clusterRepository
@inject NavigationManager navigationManager

<h3>Редактирование кластера</h3>

@if(cluster != null)
{
    <ClusterForm Cluster="cluster" OnValidSubmit="Edit" />
}


@code {
    [Parameter] public int ClusterId{ get; set; }
    private Cluster cluster;       

    protected override async Task OnInitializedAsync()
    {
        cluster = await clusterRepository.GetCluster(ClusterId);
    }

    private async Task Edit()
    {
        await clusterRepository.UpdateCluster(cluster);
        navigationManager.NavigateTo("clusters");
    }
}