@page "/clusters/create"
@inject IClusterRepository clusterRepository
@inject NavigationManager navigationManager

<h3>Создание кластера</h3>

<ClusterForm Cluster="cluster" OnValidSubmit="Create" />

@code {
    private Cluster cluster = new Cluster();

    private async Task Create()
    {
        Console.WriteLine($"Creating {cluster.Name} - {cluster.Caption}");

        try
        {
            var clusterId = await clusterRepository.CreateCluster(cluster);
            Console.WriteLine($"Created {cluster.Name} - {cluster.Caption} with id={clusterId}");
            navigationManager.NavigateTo("clusters");
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
