@page "/users/edit/{userId}"
@inject IUserRepository userRepository
@inject IDisplayMessage displayMessage
@attribute [Authorize(Roles = "Admin")]

<h3>Редактировать</h3>

<div class="form-inline">
    <select class="form-control mb-2 mr-sm-2" @bind="selectedRole">
        <option value="0">--Выберите роль--</option>
        @foreach (var role in roles)
        {
           <option value="@role.RoleName">@role.RoleName</option>
        }
    </select>

    <button class="btn btn-info mb-2 mr-sm-2" @onclick="AssignRole">Назначить роль</button>
    <button class="btn btn-danger mb-2 mr-sm-2" @onclick="RemoveRole">Удалить роль</button>
</div>

@code {
    [Parameter] public string UserId{ get; set; }
    private List<RoleDTO> roles = new List<RoleDTO>();
    private string selectedRole = "0";

    protected override async Task OnInitializedAsync()
    {
        roles = await userRepository.GetRoles();
    }

    private async Task AssignRole()
    {
        if (selectedRole == "0")
        {
            await displayMessage.DisplayErrorMessage("Необходимо выбрать роль!");
            return;
        }

        await userRepository.AssignRole(new EditRoleDTO { RoleName = selectedRole, UserId = UserId });
        await displayMessage.DisplaySuccessMessage("Роль назначена!");
    }

    private async Task RemoveRole()
    {
        if (selectedRole == "0")
        {
            await displayMessage.DisplayErrorMessage("Необходимо выбрать роль!");
            return;
        }

        await userRepository.RemoveRole(new EditRoleDTO { RoleName = selectedRole, UserId = UserId });
        await displayMessage.DisplaySuccessMessage("Роль удалена!");
    }
}
