@page "/login"

@inject IAccountsRepository accountsRepository
@inject NavigationManager navigationManager
@inject ILoginService loginService
@inject IDisplayMessage displayMessage

@using ModelingSystem.Client.Auth

<h3>Вход в систему</h3>

<EditForm Model="userInfo" OnValidSubmit="DoLogin">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Email:</label>
        <div>
            <InputText class="form-control" @bind-Value="@userInfo.Email" />
            <ValidationMessage For="@(() => userInfo.Email)" />
        </div>
    </div>

    <div class="form-group">
        <label>Password:</label>
        <div>
            <InputPassword class="form-control" @bind-Value="@userInfo.Password" />
            <ValidationMessage For="@(() => userInfo.Password)" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Войти</button>

</EditForm>

@code {
    private UserInfo userInfo = new UserInfo();

    private async Task DoLogin()
    {
        try
        {
            var userToken = await accountsRepository.Login(userInfo);
            await loginService.Login(userToken);
            await displayMessage.DisplaySuccessMessage("Вход выполнен!");
            navigationManager.NavigateTo("");
        }
        catch(Exception ex)
        {
            await displayMessage.DisplayErrorMessage("Ошибка входа!");
        }               
        
    }
}
